/* code snippet by Mr. Web Developer "Complete Responsive Food/Restaurant using HTML/CSS/JQuery/Bootstrap - Step By Step" : https://www.youtube.com/watch?v=ajtLKcOF7RM */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}


html {
  font-size: 85%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #823324;
}

.flashes h4 {
  line-height: 2;
  text-align: center;
  color: #c1b68c;
}

/* Nav Bar */


/* Home Page - custom css */

.post-title {
  color: rgb(223 223 223);
}

.post-subtitle {
  color: #c1b68c;
}

.post-meta span {
  color: #c1b68c;
}

/* About Page - custom css */

.about-page {
  color: #c1b68c;
}

/* login and register pages - custom css */

.form-inputs, .form-text, .link-text {
  color: #c1b68c;
}

.login-button, .register-button {
  padding-top: 20px;
}

@media only screen and (min-width: 992px) {
  .form-container {
    max-width: 720px;
  }
}

/* Contact Page */

.contact-form, p {
  color: #c1b68c;
}

.form-floating {
    padding: 10px;
}

/* Profile Page */

h3 {
  text-align: center;
  color:#c1b68c;
  font-size:medium;
  margin: 40px 40px;
}

.profile-text {
  margin-top: 40px;
}



/* group recipes */
/* code snippet by Mr. Web Developer "Complete Responsive Food/Restaurant using HTML/CSS/JQuery/Bootstrap - Step By Step" : https://www.youtube.com/watch?v=ajtLKcOF7RM */

#group-recipes {
  min-height: 100vh;
  width: 100vw;
}

#group-recipes .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#group-recipes .heading h1 span {
  color: #FFF200;
}
/* 
#group-recipes .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 90%;
} */

#group-recipes .box-container .box {
  height: 22rem;
  width: 27rem;
  border-radius: .5rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 .5rem #333;
  box-shadow: 0 0 .5rem #333;
}

#group-recipes .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#group-recipes .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  color: #fff;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#group-recipes .box-container .box .info h3 {
  font-size: 2rem;
}

#group-recipes .box-container .box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #FFF200;
  border-top: 0.2rem solid #FFF200;
  margin: 1rem 2rem;
}

#group-recipes .box-container .box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3rem;
  width: 10rem;
  margin: 10px 10px 10px 10px;
}

#group-recipes .box-container .box .info button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#group-recipes .box-container .box .info button:hover::before {
  width: 100%;
}

#group-recipes .box-container .box:hover .info {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Search Bar */
.input-field {
  padding-top: 5px;
}

#search-bar {
  width: 40rem;
  padding: 10px;
}

#search-box {
  padding-left: 30px;
}

#group-recipes .container .row .col-12, h3 {
  margin-left: 250px;
  position: absolute;

}


/* Single Recipe Page */
/* code snippet from Coding Addict and freecodecamp.org "HTML & CSS Project Tutorial - Build a Recipes Website": https://www.youtube.com/watch?v=-8LTPIJBGwQ */

.recipe-page{
  color: #c1b68c;
}

.recipe-hero {
  display: grid;
  gap: 3rem;
}

.recipe-hero-img {
  height: 300px;
  border-radius: var(--borderRadius);
}

.recipe-hero p i {
  color: var(--grey-200);
}

.recipe-hero p {
  text-transform: none;
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 1rem;
}

.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}

.recipe-tags a {
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  color: var(--white);
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}

.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}

@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

.single-instruction .recipe-tags header p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--primary-500)
}

.single-instruction > p {
  color: var(--grey-700);

}

.single-instruction header div {
  height: 2px;
  background: var(--grey-300);
}

.second-column {
  display: grid;
  row-gap: 2rem;
}

.second-column, ul {
  padding-left: 1rem;
}

.single-ingredient {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--grey-700);
}

.single-tool {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--primary-500);
  text-transform: capitalize;
}


/* Add Recipe Page */
/* Box Shadow styles from w3schools https://www.w3schools.com/css/css3_shadows_box.asp */

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  /* my code */
  width: 60rem;
  background-color:#c1b68c;
  justify-content: center;
}

.recipe-description {
  text-align: center;
  margin-bottom: 5px;
}

#image_upload_btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50;
}

.input-group, texarea {
  margin-bottom: 20px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 50px;
}

.how-much {
  margin: 0px;
  padding: 0px;
}

.dollar-sign {
  margin-right: 0px;
  padding-right: 0px;
  width: 12.75px;
}

.cost-field {
  width: 100px;
}

@media only screen and (min-width: 992px) {
  .recipe-card {
    max-width: 720px;
    margin: auto;
  }
}

div, .card {
  text-align: left;
}

.submit-button {
  text-align: center;
}

.add-recipe-selections {
  max-width: 675px;
  margin: 25px;
}

.button {
  transition-duration: 0.4s;
  width: 50px;
  border-radius: 4px;
}

.btn-input {
  margin-top: 10px;
}

.btn-outline-secondary {
  color: rgb(0 0 0 / 80%);
  border-color: #6c757d;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: 50px;
}

.grid-container > div {
  text-align: center;
  padding: 5px 0;
  margin-left: 4px;
  margin-top: 4px;
}

/* Edit Recipe Page */

.page-title, h2 {
  text-align: center;
  color:#c1b68c;
  margin-bottom: 40px;
}

/* footer */

.copyright {
  padding-top: 25px;
  color: #c1b68c;
}
