{% extends "base.html" %}
{% block content %}
    <div class="about-page">
        <h2>{{ page_title }}</h2>
        <p>
            The formation of <strong><i>Kitchen Genie</i></strong>, grew out out of simple conversations with friends and
            family members who were
            concerned about soaring food prices and their ability to cope with financial stress. As a full stack software
            developer student, I decided to put my coding skills to work and build a money saving food recipe application.
            This is a place where you can share savory, bargin recipes with your friends to help
            dissolve financial fear and empower your bank account.
        </p>
        <h7><strong>Kashina Kessler | founder, <i>Kitchen Genie</i></strong></h7>
    </div>
{% endblock %}