{% extends "base.html" %}
{% block content %}
   
    <h2>{{ page_title }}</h2>
        {% for recipe in recipes %}
            {{ recipe.recipe_name }}<br>
            {{ recipe.category_name }}<br>
            {{ recipe.cost }}<br>
            {{ recipe.servings }}<br>
            {{ recipe.leftover_days }}<br>
            {{ recipe.cook_time }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.cooking_source }}<br>
            {{ recipe.preparation }}<br>
        {% endfor %}
    <div class="card" style="width: 60rem;">
        <form action="{{ url_for('add_recipe') }}">
            <!-- Upload Image -->
            <img src="..." class="card-img-top" alt="...">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
            <div class="card-body">
                <!-- Recipe Name -->
                <h5 class="card-title">Card title</h5>
                <!-- Recipe Description -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <!-- Category Selection -->
            <div class="input-group mb-3">
                <i class="far fa-folder-open"></i>
                <select id="category_name" name="category_name" class="form-select validate"
                    aria-label="Default select example" required>
                    <option selected>Choose Diet Type</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name"></label>
            </div>
            <div class="input-group mb-3">
                <label for="cost"></label>
                <span class="input-group-text">$</span>
                <input id="cost" name="cost" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>
            <div class="input-group">
                <span class="input-group-text">With textarea</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col">
                    <button href="#" class="btn btn-primary">Add Recipe <i class="fas fa-plus-square"></i>

                    </button>
                </div>
                
            </div>
        </form>
    </div>
{% endblock %}
