{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
        {% for recipe in recipes %}
            {{ recipe.recipe_name }}<br>
            {{ recipe.category_name }}<br>
            {{ recipe.cost }}<br>
            {{ recipe.servings }}<br>
            {{ recipe.leftover_days }}<br>
            {{ recipe.cook_time }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.cooking_source }}<br>
            {{ recipe.preparation }}<br>
        {% endfor %}
{% endblock %}