<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
	    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <!-- Since we're pointing to a static file within our application, we need to use the Jinja url_for method to load these files. The url_for method takes two parameters; 'static' being the first, and our filename='css/style.css' -->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css">
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" 
	    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<!-- Provides option to include custom styles or scripts that are applied from one of our child templates. Any custom CSS can be injected into a 'block styles'-->
	{% block styles %}
	{% endblock %}

    <title>Kitchen Genie</title>
</head>
<body>
   <!-- Main Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">Kitchen Genie</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	        Menu
	        <i class="fas fa-bars"></i>
	      </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<!-- Since we are calling one of our own internal files, we must use the url_for method -->
						<a class="nav-link" href="{{ url_for('index') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
					</li>
					{% if session.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('group_recipes') }}">Group Recipes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('your_recipes') }}">Your Recipes</a>
						</li>
						{% if session.user|lower == "admin"|lower %}
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('get_categories') }}">Manage Categories</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('login') }}">Log In</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('register') }}">Register</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- Page Header -->
	<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/vegetables_wooden_bg.jpg') }}')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Kitchen Genie</h1>
						<span class="subheading">Saving Money With Friends</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<!-- flash messages -->  
		<!-- Python Flask Tutorial: Full-Featured Web App Part3 - Forms and User Input https://youtu.be/UIJKdCIEXUQ 
            by Corey Schafer - add with_categories=true as an argument in with statement below to allow us to grab 
			bootstrap 'success' category that we passsed through to our flash message in 'register' function in run.py.
		    added alert alert-{{ category }} in div class to allow bootstrap category alert styles to to style dive wrapping flash messages-->
		{% with messages = get_flashed_messages(with_categories=true) %}
		    {% if messages %}
			    {% for category, message in messages %}
				   <div class="row flashes alert alert-{{ category }}">
					   <h4>{{ message }}</h4>
				   </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</section>
	
	<!-- Main Content -->
	<main class="container form-container">

        {% block content %}
        {% endblock %}

	</main>
	
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="fab fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
					<p class="copyright">Copyright &copy; Kitchen Genie <span id="copyright"></span></p>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- JQuery, JS Popper and Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
	    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" 
	    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" 
	    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <!-- Custom Bootstrap and core JavaScript scripts for this template-->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<!-- local upload instantiation -->
	<script src="upload_widget.js" type="text/javascript"></script>
    <!-- Custom JQuery script -->
	<script>
		$("#copyright").text(new Date().getFullYear());
	</script>
	<!-- Provides option to include custom styles or scripts that are applied from one of our child templates. Any custom JS can be injected into a 'block scripts' -->
	<script scr="{{ url_for('static', filename='js/active_page.js') }}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>