{% extends 'base.html' %}
{% block content %}
    <section id="group-recipes" class="container">
        <h2>{{ page_title }}</h2>
        {% for recipe in recipes %}
        <div class="box-container">
            <div class="box">
                <img src="static/img/avocado_toast.jpg" alt="">
                <div class="info">
                    <h3>{{ recipe.recipe_name }}</h3>
                    <h3>{{ recipe._id }}</h3>
                    <p></p>
                    <a href="/group_recipes/{{ recipe.recipe.name|replace(' ','-')|replace('&','and')|replace('é','e')|replace('.','-')|lower()}}"><button>view</button></a>
                </div>
            </div>
        </div>
    </section>
        {% endfor %}  
{% endblock %}
         


