{% extends 'base.html' %}
{% block content %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 testimonials">
            <!-- Post preview-->
            <!-- I deleted <a> links for authors and h2, h3 becuase I want to save blog links for a future version-->
            <div class="post-preview">
                <h2 class="post-title">I saved $150 in food costs my first month using Kitchen Genie.</h2>
                <h3 class="post-subtitle">New Mom</h3>
                <p class="post-meta">
                    Posted by
                    <span>Jules Kessler</span>
                    on September 24, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">With the money, I saved using Kitchen Genie, I can afford my daughter's ballet
                    lessons.</h2>
                <h3 class="post-subtitle">Single Mom</h3>
                <p class="post-meta">
                    Posted by
                    <span>Mary Jenkins</span>
                    on September 18, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">By using Kitchen Genie, I saved enough money to join my college friends on an
                    exclusive camping trip.</h2>
                <h3 class="post-subtitle">Student</h3>
                <p class="post-meta">
                    Posted by
                    <span>John Haberstein</span>
                    on October 6, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">Kitchen Genie allows me to do more with less money and share yummy recipes with
                    friends.</h2>
                <h3 class="post-subtitle">Senior</h3>
                <p class="post-meta">
                    Posted by
                    <span>Patricia Patterson</span>
                    on October 12, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase"
                    href="templates/register.html">Register</a></div>
        </div>
    </div>
{% endblock %}