{% extends "base.html" %}
{% block header %}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/tomatoes_small.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Kitchen Genie</h1>
                        <span class="subheading">Saving Money With Friends</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

    <h2 class="card-title" id="profile-name"><strong>{{ username|capitalize }}'s</strong> Recipes  <i class="fas fa-mortar-pestle"></i></h2>
          
    <!-- Recipe Image Box w/View, Edit, Delete buttons -->
    <section id="dish" class="container">
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.created_by|lower %}
                    <div class="box-container">
                        <div class="box">
                            <img src="{{ recipe.image }}" alt="">
                            <div class="info" id="recipe-box">
                                <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
                                <p><em>by: {{ recipe.created_by }}</em></p>
                                <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}"><button>View</button></a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"><button>Edit</button></a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"><button>Delete</button></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
    <!-- added custom inline css class .justify-content-center mb-4 to center align register link -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-4">
            <p class="d-flex align-items-center link-text profile-text">
                Start Adding Your Recipes Here&ensp;<a href="{{ url_for('add_recipe') }}">Add Recipe</a>
            </p>
        </div>
    </div>
   
{% endblock %}  