{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>

    <!-- code snippet from Coding Addict and freecodecamp.org "HTML & CSS Project Tutorial - Build a Recipes Website": https://www.youtube.com/watch?v=-8LTPIJBGwQ -->
    <div class="recipe-page">
 
        <section class="recipe-hero">
            <h3>{{ recipe._id }}</h3>
            <h2>{{ recipe.recipe_name }}</h2>
            <img src="static/img/vegetarian_chili.jpg" class="img recipe-hero-img" alt="Vegetarian chili">
        <article>
            <p class="recipe-info">{{ recipe.description }}
            </p>
            <!-- Recipe Icons -->
            <div class="recipe-icons">
                <!-- Single Recipe Icon -->
                <article>
                    <h5>cost</h5>
                    <i class="fas fa-dollar-sign"></i>
                    <p>{{ recipe.cost }}</p>
                </article>
                <!-- Single Recipe Icon -->
                <article>
                    <i class="fas fa-user-friends"></i>
                    <h5>servings</h5>
                    <p>{{ recipe.serving_size}}</p>
                </article>
                <!-- Single Recipe Icon -->
                <article>
                    <i class="fal fa-refrigerator"></i>
                    <h5>leftover days</h5>
                    <p>{{ recipe.leftover_days }}</p>
                </article>
                <!-- Single Recipe Icon -->
                <article>
                    <i class="fas fa-clock"></i>
                    <h5>prep time</h5>
                    <p>{{ recipe.prep_time }}.</p>
                </article>
                <!-- Single Recipe Icon -->
                <article>
                    <i class="far fa-clock"></i>
                    <h5>cook time</h5>
                    <p>{{ recipe.cook_time }}.</p>
                </article>
            </div>
            <!-- Recipe Category -->
            <div class="recipe-tags">
                <h5>Category</h5>
                <h6>{{ recipe.category_name }}</h6> 
            </div>
        </article>
        </section>
        <!-- Recipe Content -->
        <section class="recipe-content">
            <article>
                <i class="fas fa-list-ol"></i>
                <h4>instructions</h4>
                <!-- Single Instruction -->
                <div class="single-instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <p>In a large pot, (or in a pressure cooker on sauté setting), 
                        heat the olive oil over medium-high heat.
                    </p>
                </div>
                <div class="single-instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <p>Sauté the onions, garlic, and peppers until very fragrant, 
                        about 5 to 7 minutes, then transfer to the pressure cooker.
                    </p>
                </div>
                <div class="single-instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <p>Add the beans, lentils, tomatoes, broth or water, spices, 
                        including chipotle puree if desired, and salt and stir 
                        well to combine.
                    </p>
                </div>
                <div class="single-instruction">
                    <header>
                        <p>step 4</p>
                        <div></div>
                    </header>
                    <p>Cook on high pressure for about 10 minutes, according to 
                        the instructions on your pressure cooker.
                    </p>
                </div>
                <div class="single-instruction">
                    <header>
                        <p>step 5</p>
                        <div></div>
                    </header>
                    <p>Let pressure cooker depressurize, then remove from heat, 
                        stir, and serve. Garnish with cheddar and cilantro if
                        desired.
                    </p>
                </div>
            </article>
            <article class="second-column">
                <div>
                    <i class="far fa-list-alt"></i>
                    <h4>ingredients</h4>
                    <p class="single-ingredient">
                        1/4 cup olive oil
                    </p>
                    <p class="single-ingredient">
                        1 large onion, chopped
                    </p>
                    <p class="single-ingredient">
                        5 cloves garlic, minced
                    </p>
                    <p class="single-ingredient">
                        1 red bell pepper, peeled, seeded, and chopped
                    </p>
                    <p class="single-ingredient">
                        1 poblano pepper, peeled, seeded, and chopped
                    </p>
                    <p class="single-ingredient">
                        1 jalapeno pepper, peeled, seeded, and diced
                    </p>
                    <p class="single-ingredient">
                        1 cup dried red beans, picked over, rinsed, and soaked 24-48 hours in 2 changes of water
                    </p>
                    <p class="single-ingredient">
                        1 cup dried black beans, picked over, rinsed, and soaked 24-48 hours in 2 changes of water
                    </p>
                    <p class="single-ingredient">
                        1 cup dried lentils, picked over, rinsed, and soaked 24-48 hours in 2 changes of water
                    </p>
                    <p class="single-ingredient">
                        5 cups peeled, seeded, and minced tomatoes (about 7 tomatoes)
                    </p>
                    <p class="single-ingredient">
                        3 cups water or vegetable broth
                    </p>
                    <p class="single-ingredient">
                        1 tablespoon chipotle puree (optional, but recommended)
                    </p>
                    <p class="single-ingredient">
                        1 tablespoon iodized sea salt, more to taste
                    </p>
                    <p class="single-ingredient">
                        ½ cup shredded cheddar, to serve (optional)
                    </p>
                    <p class="single-ingredient">
                        1 cup diced cilantro, to serve (optional)
                    </p>
                </div>
                <div>
                    <i class="fas fa-utensils"></i>
                    <h4>tools</h4>
                    <p class="single-tool">{{ recipe_tools }}</p>
                </div>
                <div>
                    <p><em>by: {{ recipe.created_by }}</em></p>
                </div>
            </article>
        </section>
  
    </div>
{% endblock %}