{% extends "base.html" %}
{% block content %}
    {% for recipe in recipes %}
        <h2>{{ page_title }}</h2>

        <!-- code snippet from Coding Addict and freecodecamp.org "HTML & CSS Project Tutorial - Build a Recipes Website": https://www.youtube.com/watch?v=-8LTPIJBGwQ -->
        <div class="recipe-page">
    
            <section class="recipe-hero">
                <div class="col-md-5">
                    <img src="{{ recipe.recipe.image }}" class="img recipe-hero-img"
                        alt="Profile image for {{ recipe.recipe_name }}">
                    <h2 class="col-md-7">{{ recipe.recipe_name }}</h2>
                </div>
            <article>
                <div class="col-md-12">
                    <p class="recipe-info">{{ recipe.description }}</p>
                </div>
                <!-- Recipe Icons -->
                <div class="recipe-icons">
                    <!-- Single Recipe Icon -->
                    <article>
                        <h5>cost</h5>
                        <i class="fas fa-dollar-sign"></i>
                        <p>{{ recipe.cost }}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-user-friends"></i>
                        <h5>servings</h5>
                        <p>{{ recipe.serving_size}}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fal fa-refrigerator"></i>
                        <h5>leftover days</h5>
                        <p>{{ recipe.leftover_days }}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-clock"></i>
                        <h5>prep time</h5>
                        <p>{{ recipe.prep_time }}.</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="far fa-clock"></i>
                        <h5>cook time</h5>
                        <p>{{ recipe.cook_time }}.</p>
                    </article>
                </div>
                <!-- Recipe Category -->
                <div class="recipe-tags">
                    <h5>Category</h5>
                    <h6>{{ recipe.category_name }}</h6> 
                </div>
            </article>
            </section>
            <!-- Recipe Content -->
            <section class="recipe-content">
                <article>
                    <i class="fas fa-list-ol"></i>
                    <h4>instructions</h4>
                    {% for step in preparation %}
                    <!-- Single Instruction -->
                        <div class="single-instruction">
                            <header>
                                <p>step 1</p>
                                <div></div>
                            </header>
                            <p>In a large pot, (or in a pressure cooker on sauté setting), 
                                heat the olive oil over medium-high heat.
                            </p>
                        </div>
                    {% endfor %}
                </article>
                <article class="second-column">
                    <div>
                        <i class="far fa-list-alt"></i>
                        <h4>ingredients</h4>
                        {% for ingredient in ingredients %}
                            <p class="single-ingredient">
                                1/4 cup olive oil
                            </p>
                       {% endfor %}
                    </div>
                    <div>
                        <i class="fas fa-utensils"></i>
                        <h4>tools</h4>
                        <p class="single-tool">{{ recipe_tools }}</p>
                    </div>
                    <div>
                        <p><em>by: {{ recipe.created_by }}</em></p>
                    </div>
                </article>
            </section>
        </div>
    {% endfor %}
{% endblock %}