{% extends "base.html" %}
{% block content %}



        <!-- code snippet from Coding Addict and freecodecamp.org "HTML & CSS Project Tutorial - Build a Recipes Website": https://www.youtube.com/watch?v=-8LTPIJBGwQ -->
        <div class="recipe-page"> 
    
            <section class="recipe-hero">
                <div class="col-12">
                    <img src="{{ recipe.image }}" class="img recipe-hero-img"
                        alt="Profile image for {{ recipe.recipe_name }}">
                    <h2 class="col-md-7">{{ recipe.recipe_name }}</h2>
                </div>
            <article>
                <div class="col-md-12">
                    <p class="recipe-info">{{ recipe.description }}</p>
                </div>
                <!-- Recipe Icons -->
                <div class="recipe-icons">
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-dollar-sign"></i>
                        <h5>cost</h5>
                        <p>{{ recipe.cost }}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-user-friends"></i>
                        <h5>servings</h5>
                        <p>{{ recipe.serving_size}}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-clone"></i>
                        <h5>leftovers</h5>
                        <p>{{ recipe.leftover_days }} days</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-clock"></i>
                        <h5>prep</h5>
                        <p>{{ recipe.prep_time }}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="far fa-clock"></i>
                        <h5>cook</h5>
                        <p>{{ recipe.cook_time }}</p>
                    </article>
                    <!-- Single Recipe Icon -->
                    <article>
                        <i class="fas fa-folder-open"></i>
                        <h5>diet&nbsp;</h5>
                        <p>{{ recipe.category_name }}</p>
                    </article>
                </div>
            </article>
            </section>
            <!-- Recipe Content -->
            <section class="recipe-content">
                <article>
                    <i class="fas fa-list-ol"></i>
                    <h4>preparation</h4>
                    {% for prep in recipe.preparation %}
                    <!-- Single Instruction -->
                    
                        <div class="single-instruction">
                            {{ loop.index }}
                            <p>{{ prep }}</p>
                        </div>
                    {% endfor %}
                </article>
                <article class="second-column">
                    <div>
                        <i class="far fa-list-alt"></i>
                        <h4>ingredients</h4>
                        {% for ingredient in recipe.ingredients %}
                        <ul>
                            <li class="single-ingredient">
                                {{ ingredient }}
                            </li>
                        </ul>
                       {% endfor %}
                    </div>
                    <div>
                        <i class="fas fa-utensils"></i>
                        <h4>tools</h4>
                        <p class="single-tool">{{ recipe.tools }}</p>
                    </div>
                    <div>
                        <p><em>by: {{ recipe.created_by }}</em></p>
                    </div>
                </article>
            </section>
        </div>

{% endblock %}