{% extends "base.html" %}
{% block content %}
    <h2>I'm extending the base template</h2>
    <h2>{{ page_title }}</h2>
        {% for recipe in recipes %}
            {{ recipe.recipe_name }}<br>
            {{ recipe.category_name }}<br>
            {{ recipe.cost }}<br>
            {{ recipe.servings }}<br>
            {{ recipe.leftover_days }}<br>
            {{ recipe.cook_time }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.cooking_source }}<br>
            {{ recipe.preparation }}<br>
        {% endfor %}
        <!-- your recipes starts -->
        <section id="yourRecipes" class="container">
            <div class="heading text-center">
                <h1><span>your recipes</span></h1>
            </div>

        </section>
        <!-- your recipes end -->
{% endblock %}